:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.top-header {
  color: white;
  background-color: #512da8;
  padding: 1rem;
  font-size: 30px;
}

.nav-link {
  color: white;
  font-size: 14pt;
  padding-right: 20px;
  padding-bottom: 15px;
  margin-left: 55%;
}

.nav-link-contact {
  color: white;
  font-size: 14pt;
}

.header-container {
  display: flex;
  align-content: center;
  padding-top: 0.5rem;
}

.top-right-nav .nav-links {
  font-size: 20px;
}

#first-api {
  object-fit: cover;
}

img {
  width: 100%;
  height: 350px;
}

#copyright {
  margin: 0;
  display: flex;
  justify-content: center;
}

.launches-header {
  margin-top: 15px;
  padding: 1rem 1rem 1rem 1rem;
  background-color: #ffc107;
}

.button-left {
  margin-left: 5px;
  margin-top: 25px;
  /* display: flex; */
  border-radius: 0rem 1rem 1rem 0rem;
  float: left;
  padding: 20px;
  background-color: #ffc107;
  height: 70%;
  /* position: relative; */
  top: 12rem;
}

.button-right {
  margin-right: 5px;
  margin-top: 25px;
  /* display: flex; */
  border-radius: 0rem 1rem 1rem 0rem;
  float: right;
  padding: 20px;
  background-color: #ffc107;
  height: 70%;
}

.fa-angle-right {
  display: flex;
  justify-content: flex-end;
  border-radius: 0rem 1rem 1rem 0rem;
  justify-items: flex-end;
  align-items: center;
  background-color: #ffc107;
  margin: 0;
}

#second-api {
  display: flex;
  justify-items: stretch;
  margin: 0px;
  padding: 0px;
  height: 300px;
}

.fa-space-shuttle {
  position: absolute;
  margin-left: 100px;
  font-size: 16pt;
}

.mission-name {
  font-weight: bold;
  display: flex;
  /* justify-content: center; */
  margin: 0% 10% 0% 10%;
  width: 95%;
  height: 300px;
  background-color: #ededed;
}

.mission-statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 1rem; */
  background-color: #d1c4e9;
}
#statement {
  display: flex;
  justify-content: center;
  justify-self: center;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #673ab7;
  padding-top: 10px;
  height: 4rem;
}

.img-header {
  margin-bottom: 30%;
}
